body {
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #444;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #fff;
  margin-bottom: 20px;
}

.menu button {
  background-color: #fff;
  color: #333;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.menu button:hover {
  background-color: #ddd;
  transform: scale(1.1);
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  width: 300px;
  height: 300px;
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #fff;
  padding: 5px;
}

.box {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
  border: 2px solid #333;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.box:hover {
  background-color: #ddd;
  transform: scale(1.05);
}
